.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_files
*.csv
*.png
*.pdf
*.rds
*.log
*.tex
docs
libs
output
renv/library
